:root {
    --gradient: linear-gradient(
        to right,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}
a {
    text-decoration: none;
}

body {
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    color: #333;
    background: #ddd;
    background-image: var(--gradient);
    background-size: 400%;
    margin: 0;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

.glass {
    margin: 10%;
    background:rgba(255, 255, 255, 0.20);;
    padding: 2em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.35);
}

.title {
    text-align: center;
    margin: 10px 0px;
    font-size: 3rem;
    color: #ee6352;
    line-height: .8;
}


button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 0px 0.03em;
    border: none;
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 500%;
    background-position: left;
    animation: bg-animation 10s infinite alternate;
}

.transitionbox {
    width: 100vh;
    height: 359vw;
    transform: translateY(500px);
    background: white;
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.55);
    animation: switch-about 7.5s ease-in infinite;
}



@keyframes switch-about {
    0% {transform: translateY(-250vh) rotate(45deg) translateX(-100vw);}
    10% {transform: translateY(100vh) rotate(45deg);}
    99% {transform: translateY(100vh) rotate(45deg);}
    100% {transform: translateY(-250vh) rotate(45deg) translateX(-100vw);}
}